   body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #1a2d52;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    nav {
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      background-color: #4352a7;
      border: solid rgb(96, 96, 255);
      border-width: 0px 0px 2px 0px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 55px;
    }
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav li {
      display: inline-block;
      margin: 0 10px;
    }
    nav a {
      text-decoration: none;
      color: #fff;
      padding: 13px;
    }
    nav a:hover {
      background-color: #747edb;
      border-radius: 10px;
    }
    div {
      padding: 20px;
    }

    #medio {
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .introduccion {
      margin-top: 10px;
      width: 90%;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #98A7FF;
      border: solid rgb(96, 96, 255);
      border-width: 0px 0px 2px 0px;
      border-radius: 10px;
      padding: 0px;
    }

    .introduccion table {
      height: 100px;
      width: 80px;
      padding: 3px;
      margin: 80px;
      border-radius: 10px;
      border: solid rgb(124, 124, 252) 3px;
    }

    .introduccion table tr {
      padding: 3px;
      background-color: rgb(119, 144, 255);
    }

    .introduccion table tr td, th {
      padding: 12px;
      border-radius: 10px;
    }

    .horizontal {
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 60px;
      background-color: rgb(170, 168, 255);
    }

    .horizontal table tr th {
      max-width: 200px ;
      border-radius: 100px 0px 0px 100px;
      background-color: #a5a6e2;
      padding: 30px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 55px;
    }

    .horizontal table tr td {
      width: 150px ;
      border-radius: 0px 100px 100px 0px;
      background-color: #a5a6e2;
      padding: 30px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 55px;
    }
